.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: maroon;
  margin: 0 10% 0 10%;
  border-radius: 15px;
  border-color: #450000;
}

#refresh {
  width: 50px;
  height: 50px;
  background-image: url('https://www.pngkey.com/png/full/204-2048039_refresh-icon-white-refresh-icon-png.png');
  background-size: cover;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  margin: 0 auto;
  color: whitesmoke;
  text-shadow: 4px 4px #450000;
}

html {
  background-image: url('https://wallpapercave.com/wp/wp2483329.jpg'); 
  background-position: center;
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 
  filter: grayscale(100%); */

}

#random-btn {
  padding: 20px;
  margin: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

#question {
  size: 50%;

}

@media (max-width: 800px) {
  #question {
    width: 70%;
    height: auto;
    }  
  
    html {
      background-color: maroon;
    }
  }

@media (max-width: 600) {
  h1 {
    display: flex;
    flex-direction: column;
    font-size: 2px;
  }
}

#random-btn {
  border-radius: 15px 1px 15px 1px;
  width: 160px;
}

.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: grey;
  margin-left: 6%;
  margin-right: 6%;
  padding: 0;
  border-radius: 25px 3px 25px 3px;
}

#hero-img {
width: 80%;
}